@page "/products"
@using MongoDB.Bson
@using ecommerce.Models
@using ecommerce.Controllers
@inject ProductController productController

<h3>Products...</h3>

@if (Items != null)
{
    @foreach (var product in this.Items)
    {
        <ProductDisplay Product="product" />
    }
}

@code {
	private List<Product>? Items;

	// Use OnInitializedAsync method to set initial value of the To Do List
    protected override async Task OnInitializedAsync()
    {
        // Use the controller to set the value for List Items
        this.Items = await productController.GetAllProducts();
    }

}
